<a href="https://colab.research.google.com/github/VladousSparrowous/HSE-homeworks/blob/main/HSE_HM1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# @title 1A

def Fib(n):
    if n == 0:
        return 1, 0
    if n == 1:
        return 1, 1

    F1, F2 = Fib(n - 2)
    Fn2 = F1 + F2
    Fn1 = Fn2 + F1
    return Fn1, Fn2

n = int(input())
print(Fib(n)[0])

20
10946

In [ ]:
# @title 1B

n = int(input())
mas = list(map(int, input().split()))

for i in range(n // 2):
    mas[i], mas[n - 1 - i] = mas[n - 1 - i], mas[i]
print(*mas)

3
1 2 -3
-3 2 1

In [ ]:
# @title 1C

n = int(input())
mas = list(map(int, input().split()))

new_mas = list()
count = 0
for i in mas:
    ind = 0
    for j in range(len(new_mas) - 1, -1, -1):
        count += 1
        if new_mas[j] <= i:
            ind = j + 1
            break
    new_mas = new_mas[:ind] + [i] + new_mas[ind:]

print(count)

5
2 2 1 1 2
7

In [ ]:
# @title 1D

n = int(input())
triplets = list()
s_min = 6 * n * n
for a in range(1, int(n ** (1 / 3)) + 2):
    if n % a == 0:
        for b in range(1, int((n // a) ** (1 / 2)) + 2):
            c = n // (a * b)
            if a * b * c == n:
                s = 2 * (a * b + b * c + a * c)
                if s < s_min:
                    triplets = [(a, b, c)]
                    s_min = s

                if s == s_min:
                    triplets.append((a, b, c))

print(*min(triplets))

1000000
100 100 100

In [ ]:
# @title 1E

n = int(input())
min_s = 2 * n + 1
triplet_with_s = (2 * min_s, 1, 1, n)

for a in range(int(n ** (1 / 3)) + 2, 0, -1):
    if n % a == 0:
        for b in range(int((n // a) ** (1 / 2)) + 2, 0, -1):
            c = n // (a * b)
            if a * b * c == n:
                s = (a * b + b * c + a * c)
                if s < min_s:
                    min_s = s
                    triplet_with_s = (2 * s, a, b, c)

                if s > 2 * min_s:
                    break

print(*triplet_with_s)

1000000000000
600000000 10000 10000 10000

In [ ]:
for a in range(1, 64):
    for b in range(1, 64):
        for c in range(1, 64):
            if a * b + b * c + a * c == 64:
                print(a * b * c)

48
48
60
60
48
96
96
48
96
48
48
60

In [ ]:
# @title 1F
def delitel(q, Q):
    new_Q = list()
    for i in Q:
        for j in range(0, q + 1):
             new_Q.append(i + [j])
    return new_Q

t = int(input())

for _ in range(t):
    ans = 0
    min_s = 10**20

    k = int(input())
    Q = list()
    P = list()

    for _ in range(k):
        p, q = map(int, input().split())
        P.append(p)
        Q.append(q)

    Q_min = [i // 3 for i in Q]
    if sum([i % 3 == 0 for i in Q]) == len(Q):
        a = 1
        for j in range(len(P)):
            a *= P[j] ** Q_min[j]
        print(6 * a * a, a, a, a)
        continue
    Q_max = Q

    Q_del = list()
    for q in Q:

        if len(Q_del) == 0:
            Q_del = [[i] for i in range(0, q + 1)]
        else:
            Q_del = delitel(q, Q_del)
    Q = Q_del
    '''
    print('aaa', Q_max)
    print('aaamm', Q_min)
    print('ppp', P)
    print('qqq', Q)
    '''

    for i in range(len(Q) - 1, -1, -1):

        for j in range(len(Q) - i - 1, -1, -1):

            # print((i, j))
            a = 1
            b = 1
            c = 1
            for k in range(len(P)):
                a *= P[k] ** Q[i][k]
                b *= P[k] ** Q[j][k]
                Q_c = Q_max[k] - Q[i][k] - Q[j][k]
                if Q_c < 0:
                    a, b, c = 0, 0, 0
                    break
                c *= P[k] ** (Q_c)

            s = 2 * (a * b + b * c + a * c)
            if s < min_s and s != 0:
                min_s = s
                ans = (s, a, b, c)

    print(*ans)

1
4
11 2
2 3
3 1
5 4
89290 121 120 125

In [ ]:
'''
1
4
11 2
2 3
3 1
5 4
90200 150 110 110
'''

'''
1815000
89290 120 121 125
'''